# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Database settings
# =================
# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# DATABASE_URL=postgres://root:root@localhost:5432/app

# Auth settings
# =============
# Expiry time for OTP in seconds. Default is 600 seconds (10 minutes).
OTP_EXPIRY=600
# Secret to hash sessions. Can use https://1password.com/password-generator/ to generate a strong secret.
SESSION_SECRET=random_session_secret_that_is_at_least_32_characters

# Mail settings
# =============
# If you are using authentication capabilities in your app, you must set an API key here to receive OTPs by email.
# In development mode, you will see OTPs logged to the console. Get an API key from https://legacy.postman.gov.sg/.
POSTMAN_API_KEY=

# Pair Foundry settings
# =====================
# If you are using LLM capabilities in your app, you must set an API key here. Get an API key from https://foundry.pair.gov.sg/.
PAIR_FOUNDRY_API_KEY=

# Other settings
# ================
NEXT_PUBLIC_APP_NAME="My Application"
# NEXT_PUBLIC_APP_URL= # Uncomment to set application URL